[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = npes-95
	email = npe.smith.95@gmail.com
[pull]
	rebase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
